*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    
}

body{
    width: 100vw;
    height: 100hv;
    margin: 0 auto;
    background-color: #c3c3c3;
}
section#first{
height: 100%;
}

form label{
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}
form input, #periodType{
    display: flex;
    width: auto;
    margin: 0 auto;
    
}
form #periodType{
    border: none;
    padding: 1rem;
    border: none !important;
    margin: none;
    background-color: #c3c3c3;
    color: #0a0a0a;
    font-size: 1rem;
    width: 15rem;
}
form input{
    border: none;
    padding: 1rem;
    border: none !important;
    margin: none;
    background-color: #c3c3c3;
    color: #0a0a0a;
    font-size: 1rem;

}
form input[type="submit"]{
    background-color: green;
    color: #ffffff;
    border-radius: 1rem;
  
    
}

form input[type="submit"]{
    animation: blink 1s linear infinite;
    
    }

    @keyframes blink{
        50%{
            opacity: 0.5;
                  
        }
    }



section div{
    background-color: #0a0a0a;
    /* background-color: rgba(38, 35, 63, 0.5); */
    padding: 1.5rem;
    /* color: yellow; */
    color: #50c6db;
    margin: 0.5rem;
    /* border: 1rem black solid; */
    
   
}




.side1{
    
    border-radius: 1.5rem 0.5rem;
}
.side2{

    border-radius: 1.5rem 0.5rem;
}
.side3{

    border-radius: 0.5rem 1.5rem;
}
.side4{
   
    border-radius: 1.5rem 0.5rem;
}

.side5{
   
    border-radius: 1.5rem 0.5rem;
}
.side6{
   
    border-radius: 1.5rem 0.5rem;
}


section.impact div{
border-radius: 50%;
height: 40vh;
width: 40vh;
margin: 0 auto;
display: flex;
flex-direction: column;
text-align: center;
background-color: #50c6db;
margin-bottom: 0.5rem;

}

    


section.impact div h2{
  color: #0a0a0a;
    }

section.impact input{
    /* border-radius: 50%; */
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    outline: none;  
    cursor: pointer;  
    font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;        
        color: #0a0a0a;
    transition: all ease-in 0.1s;
    }
    
  

section.impact input:hover{
    /* border-radius: 50%; */
    box-shadow: 2px 5px #888888;
    font-size: 2;
    }
    section.impact div h2, 
    section.impact div input{ 
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;

    }


    section.impact input{
        animation: blink 1.8s linear infinite;
        
        }
    
        @keyframes blink{
            50%{
                padding: 1rem;
                      
            }
        }
    

    .danger{
        background-color: red;
        color: #ffffff !important;
    }
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: #0a0a0a;
    color: #50c6db;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    height: 5rem;
 
}
footer small{
    color: yellow;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    form{
        display: grid;
        grid-template-areas: 
        "side1 side2"
        "side3 side4"
        "side5 side6"
        "side7 side7"
        ;
     }
     .side1{
         grid-area: side1;
         border-radius: 1.5rem 0.5rem;
     }
     .side2{
         grid-area: side2; 
         border-radius: 0.5rem 1.5rem;
     }
     .side3{
         grid-area: side3; 
         border-radius: 0.5rem 1.5rem;
     }
     .side4{
         grid-area: side4; 
         border-radius: 1.5rem 0.5rem;
     }
     .side5{
        grid-area: side4; 
        border-radius: 1.5rem 0.5rem;
    }
    .side6{
        grid-area: side4; 
        border-radius: 1.5rem 0.5rem;
    }
   .side7{
    grid-area: side7;     

    } 
    section div{
        padding-bottom: 5rem;
        padding-top: 5rem;
         
      }


     .impact{
         height: 100%;
        display: grid;
        grid-template-areas: 
        "side1 side2"
        "side3 side4"
        "side5 side6"
        "side7 side7"
        ;
     }
     #side1{
         grid-area: side1;
        
     }
     #side2{
         grid-area: side2; 
        
     }
     #side3{
         grid-area: side3; 
        
     }
     #side4{
         grid-area: side4; 
        
     }
     #side5{
        grid-area: side4; 
       
    }
    #side6{
        grid-area: side4; 
       
    }
   #side7{
    grid-area: side7;     

    } 
    section div{
        padding-bottom: 5rem;
        padding-top: 5rem;
         
      }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}



